/********TAG SELECTORS*********/
body {
  font-family: 'Quicksand';
  /*margin: 0 0 0 0;*/
  max-width: 1500px;
  margin: auto;
}

hr {
  border-color:#242323;
  border-width: 1px;
  border-style:solid none none none;
  width:80%;
  padding: 0px;
  marign: 0px;
}

img {
  height:160px;
}

h1 {
  color:#404040;
  font-size: 30px;
  font-family: 'Quicksand'; 
  text-align: center; 
  margin-bottom: 0px;
  padding-top: 50px;
}
h1:first-child { 
  margin-top: 0px;
  padding-top: 0px;
}

a {
  text-decoration: none;
  font-size: 15px;
  color:#314454
}

.heading_title {
  font-family: 'Quicksand', cursive; 
  padding-top: 10px;
  margin-top: 0px
}
h2 {
  font-size: 20px;
}


h3 {
  font-size: 17px;
  color:#D4D1D1;
  font-family: calibri;
  text-align:center;
}

.social_link {
  color: #D4D1D1;
  text-decoration: none;
  margin: 00px 10px
}

.social_link:hover {
  color: #B0ABAB;
}
.copyright {
  margin: 0px 0;
}
/********CLASS SELECTORS*********/
.arrow-down {
  width: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  margin: 0 auto 0 auto;
  position: relative;
  top: 110px;
}
.first-arrow {
  border-top: 60px solid #242323;
}

.odd-arrow {
  border-top: 60px solid #B0ABAB;
}
.even-arrow {
  border-top: 60px solid #949090;
}

.avatar {
  align-content: center;
  height:250px;
}

.content{
  background-color: white;
  margin:0% 5%;
}
.heading {
  text-align: center;
  background-color:#242323;
  background-color:#ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #404040;
}
.description_par {
  margin: 0 auto;
  width: 60%;
  max-width: 1000px;
  font-size: 17px;
  text-align:justify
}
.odd {
  background-color: #B0ABAB;
  color: #242323;
}
.even {
  background-color: #949090;
  color: #242323;
}
.bottom-container {
  text-align: center;
  background-color: #ffffff;
  margin: 0px 0px;
  padding: 10px 0px;
}
.small{
  width:40%;
}
.medium{
  width:50%; 
}
.large{
  width:60%; 
}
.section {
  width : 100%;
  padding: 50px 0;
}
.section-column{
  width : 65%;
  margin: auto;
  display: flex;
  align-items: center;
  vertical-align: top;
}
.section_item {
  text-align: center;
  align-self: flex-start;
}
.section_img {
  width: 100%;
  margin-top: auto;
}

.left_column_icon {
  width:30px;
  height:30px;
}
.icons_section {
  padding: 0;
  margin: 20px 0 0 0;
}
/********ID SELECTORS*********/
/* Clear floats after the columns */
/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 1%;
  height: auto; /* Should be removed. Only for demonstration */
}

.left {
  width: 30%;
  text-align: center;
  margin-right: 15px;
}
.right {
  width: 60%;
  /*border-left: 1px solid black;*/
  padding-left: 20px;
}
.subleft_50 {
  width: 50%;
  text-align: right;
  padding-right: 10px;
}
.subright_50 {
  width: auto;
  text-align: left;
  border-left: 1px solid black;
  padding-left: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/**** PAPERS ****/
.paper_title {
  font-size: 15px;
  font-family: 'Quicksand'; 
  font-style: 'Medium'; 
  font-weight: 3000;
  margin-bottom: 1px;
  /*font-variant: "Light";*/
}
.paper_year {
  font-size: 15px;
  text-align: left;
  color: #000000;
  font-family: 'Quicksand'; 
  font-style: 'Medium'; 
  font-weight: 3000;
  margin: 0px;
  margin-bottom: 1px;
  padding: 0px 0px 0px 20px
  /*font-variant: "Light";*/
}
.paper_venue {
  font-size: 15px;
  font-family: 'Quicksand'; 
  font-style: 'Medium'; 
  font-weight: 3000;
  /*font-variant: "Light";*/
}
.paper_abstract {
  font-size: 15px;
  font-family: 'Quicksand'; 
  font-style: 'Medium'; 
  font-weight: 3000;
  margin-top: 0px;
  padding: 0px 0px 0px 20px;
  text-align:justify;
  /*font-variant: "Light";*/
}
.paper_title {
  font-size: 15px;
  font-family: 'Quicksand'; 
  font-style: 'Medium'; 
  font-weight: 3000;
  /*font-variant: "Light";*/
}

.collapsible {
  background-color: #ffffff;
  color: #5F8DB3;
  cursor: pointer;
  padding: 0px 0px 0px 20px;
  margin: 0px;
  border: none;
  text-align: left;
  width:100%;
  font-size: 15px;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  color: #000000;
}
.desciption_content {
  /*margin-top: 0px;*/
  /*padding: 0px 0px 0px 20px;*/
  display: none;
  overflow: hidden;
}


.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 2px;
  display: inline-block;  
}
.left-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 2px;
  display: inline-block;  
  position:relative;
  left:-25.5px;
}
.filled {
  background-color: #000000;
}
.empty {
  background-color: #e8e8e8;
}


.skill_level {
    display:block;
}
skill_level_2:{
  content:"<span class='dot filled'></span><span class='dot filled'></span><span class='dot empty'></span><span class='dot empty'></span><span class='dot empty'></span><span class='dot empty'></span>";
}
/**************/
.edu_title {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.edu_details {
  margin-top: 0px;
  padding-top: 2px;
  margin-bottom: 0px;
  padding-bottom: 0px;  
}
.edu_description {
  margin-top: 0px;
  padding-top: 2px;
  padding-left: 20px;
  margin-bottom: 0px;
  text-align:justify;
}

.left_col_paragraph {
  margin-top: 0px;
  padding-left: 5%;
  padding-right: 5%;
  text-align:justify;
}



.y_video {
  width: 100%;
  max-width: 500px;
  text-align: center;
  margin: 20px;
  /*height: 100%;*/
  height: 30vw;
  max-height: 300px;
}



  svg {
    background-color: white;
  }
  .dotted-line {
    fill: none;
    stroke: black;
    stroke-width: 50;
    marker: url(#circle-marker);
    position:absolute;
  }
  #circle-marker circle {
    fill: black;
    stroke; black;
  }





 /*************/
 .skill_base_line {
  color:#d9d9d9;
}
.skill_line {
  color:#000000;
}
.skill_tag {
  font-size: 12;
  text-align: right;
}
